/* &display=swap */
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1260px;
  margin: 0 auto;
  padding: 40px 15px 50px 15px;
}
body {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #fff;
  background-color: rgb(53, 53, 53);
}

.title {
  max-width: 400px;
  font-weight: 700;
  font-size: 65px;
  margin: 0 auto;
  color: rgb(70, 247, 120);
  margin-bottom: 50px;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 30px;
}
.list__item {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.list__item:nth-child(7) {
  grid-column: span 3;
}
.link {
  color: #e57f1f;
  font-size: 35px;
  padding: 20px;
  border-radius: 8px;
}
.list__item:hover {
  box-shadow: 0 0 18px 2px rgb(204, 200, 205);
  transform: scale(1.02);
}

.task {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}
.text::after{
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: rgb(228, 159, 159);
	margin-top: 20px;
}
p {
  margin-top: 20px;
  font-size: 25px;
}

.span {
  color: rgb(8, 121, 33);
  font-size: 18px;
}

.block { 
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 10px;
	background-color: #fff;
	max-width: 500px;
	margin: 0 auto;
	color: rgb(72, 71, 71);
	margin-top: 50px;
}
.block--3{
	max-width: 600px;
}
.block__line{ 
	display: flex;
	align-items: center;
	gap: 10px;
}
.block__label { 
	flex: 0 1 250px;
	font-size: 22px;
	font-weight: 700;
}
.actions { 
	display: flex;
	gap: 25px;
	justify-content: center;
}
.block__button::after{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 15px;
	background-color: rgb(156, 155, 155);
}
.inp{
	padding: 5px;
	font-size: 18px;
	outline: 2px solid rgb(2, 9, 107);
	border: none;
	border-radius: 5px;
	flex: 1 1 auto;
}
.inp:focus{
	background-color: rgb(198, 232, 223);
}
.inp::placeholder{
	color: black;
}
.inp--result:focus{
	background-color: #fff;
}
.inp--year:focus{
	background-color: rgba(178, 220, 165, 0.529);
}
.result{
	font-size: 22px;
}
#result{
	color: rgb(216, 24, 2);
}
#resultPriceTrip{
	font-size: 25px;
	color: #fff;
}
button {
	font-size: 16px;
	padding: 5px 13px;
	cursor: pointer !important;
	
	box-shadow: 0 3px 10px 0.5px black;
	transition: all 0.3s ease 0s;
}
.button--1{
	
	font-weight: 700;
	background-color: rgba(223, 219, 219, 0.432);
	background-color: #7A956B;
}
.button--2{
	font-weight: 700;
}
.button:hover{
	box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.56);
}

.trip-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	background-color: #7A956B;
	max-width: 600px;
}

.trip-menu{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 60px;
	padding-bottom: 50px;
}

.transport1{
	font-size: 16px;
}

.food1{
	display: flex;
	gap: 5px;
}

.guide{
	font-size: 16px;
}
.actionsTrip{
	display: flex;
	gap: 40px;
	margin-top: 70px;
	align-self: flex-start;
	padding: 20px;
}
table{
	font-size: 30px;
	border: 1px solid white;
	text-align: center;
}
td{
	border: 1px solid white;
}
/* ====================== task-6 */
.container{
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 500px;
}
.container2{
	padding-top: 30px;
	display: flex;
	gap: 10px;
	max-width: 500px;
}
input{
	padding: 10px;
}
.line{
	display: flex;

}
button{
	padding: 10px 15px;
	background-color: #7A956B;
}